/* General styles */
body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-color: #f29870;
    color: #48132c;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 32px;
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #48132c;
    text-decoration: none;
  }
  
  /* Main section styles */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    font-size: 24px;
  }
  
  section p {
    line-height: 1.5;
  }
  
  /* Footer styles */
  footer {
    background-color: #f29870;
    color: #48132c;
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    color: #48132c;
    text-decoration: none;
  }